//variables//
$azuloscuro: #151849;
$azulclaro: #748EEC;
$padding: 15px;
$blanco: #fff;
$altura: 100px;

.categorias {
    display: grid;
    row-gap: 70px;
    column-gap: 30px;
	  grid-template-columns:auto auto ;
	  grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;

    .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
    }
      
    @media only screen and (max-width: 700px) {
        .responsive {
          width: 49.99999%;
          margin: 6px 0;
        }
    }
      
    @media only screen and (max-width: 500px) {
        .responsive {
          width: 100%;
        }
    }
    .cardproducto {
        width: 18rem;
        height: 28rem;
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: 40px;
        background-color: $blanco;
        box-shadow: 5px dimgrey;
        @import "sass/boton";

        .titulo-productos{
            font-family: 'Montserrat';
            font-size: 20px;
            font-weight: 500;
            color: $azuloscuro;
        }
        .texto-productos{
            font-family: 'Montserrat';
            font-size: 10px;
            font-weight: 300;
            color: $azuloscuro; 
        }
    }
}

