//variables//
$azuloscuro: #151849;
$azulclaro: #748EEC;
$padding: 20px;
$blanco: #fff;
$altura: 100px;

/* Responsive */

@media only screen and (max-width: 1199px){
}
@media only screen and (max-width: 991px){
}
@media only screen and (max-width: 767px){    
}
@media only screen and (max-width: 575px){   
}
@media only screen and (max-width: 479px){  
}


//anidamiento//

* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
body {
	box-sizing: border-box;
	background-color: #EFEFEF;
}

/* header */ 
header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
	background-color: #EFEFEF;
	position:fixed; 
	height: 120px;
	width: 100%; 
	z-index: 100;
	padding-top: 0px;
	padding-left: 20px;
}
a {
	text-decoration: none;
}
	
li {
	list-style: none;
}
	
.menu {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center; 
	@import "sass/boton";
}
.menu>li {
	padding-top: 30px;
	margin: 20px;
}
.menu>li>a {
	font-family:'Montserrat';
	font-weight: 500;
	font-size: 15px;
	color: $blanco;
}

p{
	color: $azuloscuro;
	font-family: 'Montserrat';
	font-weight: 300;
	font-size: 20px;
	text-align: justify;
 } 
 h2 {
	padding-top: 30px;
	padding-bottom: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: $azuloscuro;
	font-size: 30px;
	
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 500;
}

}
.about{
	margin-bottom: 40px;
	margin-left: 40px;
    margin-right: 40px;
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	row-gap: 60px;
	justify-content: space-around;
	align-items: center
}
h4 {
	padding-top: 150px ;
	padding-left: 40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: $azuloscuro;
	font-size: 30px;	
}
	
/* Carousel */
@import "sass/carousel";

/* 1er grupo cards */
@import "sass/1erascards";

/* 2do grupo cards */
@import "sass/2dascards";

/* Seccion productos*/
@import "sass/productos";

/* Tutoriales */
.tutoriales{
	padding-top: 150px;
	padding-bottom: 40px;
	margin-left: 40px;
    ul li{
		margin-left: 20px;
	    list-style-type: disc;
	    color: $azuloscuro;
	    font-family: 'Montserrat';	
	    .titulo-chico {
	        font-family: 'Montserrat';
	        font-weight: 500;
	        font-size: 20px;
        }
	    .paso-paso{
		    font-family: 'Montserrat';
	        font-weight: 300;
	        font-size: 15px;
	    }
    }
}
/* Formulario */
.formulario {
    width: 45%;
    background-color: #EFEFEF;
	padding-top: 150px;
	padding-bottom: 150px;
	padding-left: 50px;
    
    .contenedorForm {
        display: flex;
        justify-content: left;
    }
    @import "sass/boton";
}

/* Footer */
.zocalo {
	padding: 64px;
	background-color: $azuloscuro;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    height: 200px;

	.widget_blog_subscription{
		padding-top: 15px;
		padding-bottom: 10px;
	}

	.widget_blog_subscription p {
		font-family: 'Montserrat', sans-serif;
		margin: 0;
		text-align: center;
	}
	.widget_blog_subscription p:first-child {
		font-family: 'Montserrat', sans-serif;
		margin: 0 0 10px;
		color: $blanco;
		text-align: center;
		font-size: 20px;
		font-weight: 500;
	}
	.widget_blog_subscription p:nth-child(2) {
		width: 65%;
		float: left;
	}
	.widget_blog_subscription p:nth-child(3) {
		width: 35%;
		float: left;
	}
	.widget_blog_subscription input[type="text"] {
		margin: 0;
		color: #999;
		padding: 15px !important;
		font-family: 'Montserrat', sans-serif;
		text-align: left;
		width: 100% !important;
		outline: none;
		border: 0;
		font-size: 14px;
		background-color: #fff;
	}
	.widget_blog_subscription input[type="text"]::-webkit-input-placeholder {
		color: #d0d0d0;
	}
	.widget_blog_subscription input[type="text"]:-moz-placeholder {
		color: #d0d0d0;
	}
	.widget_blog_subscription input[type="text"]::-moz-placeholder {
		color: #d0d0d0;
	}
	.widget_blog_subscription input[type="text"]:-ms-input-placeholder {
		color: #d0d0d0;
	}
	.widget_blog_subscription input[type="submit"] {
		margin: 0;
		background-color: $azulclaro;
		color: #fff;
		padding: 16px !important;
		text-align: center;
		width: 100%;
		outline: none;
		border: 0;
		text-transform: uppercase;
		font-size: 13px;
	}
	.widget_blog_subscription input[type="submit"]:hover {
		background-color: $azuloscuro;
	}
	
    .redes {
        display: flex;
        flex-direction: row;
		padding-top: 13px;
		align-items: center;
	    justify-content: space-around;
    }

    h5 {
	    padding-top: 20px;
		padding-bottom: 10px;
		justify-content: left;
		font-family: 'Montserrat', sans-serif;
		font-size: 13px;
		font-weight: 300;
        color: $blanco;   			
    }
}